@use "colors" as c;

@mixin button-pressed {
  transform: scale(1.1);
  opacity: 0.8;
  transition: 0.3s ease-in-out;
  box-shadow: 0.1rem 0.1rem 0.1rem c.$bg-shadow;
}

@mixin app-button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    @include button-pressed;
  }
}

.button__number,
.button__delimiter,
.button__null {
  @include app-button;
  background: c.$bg-primary;
}

.button__action,
.button__opposite,
.button__calculate {
  @include app-button;
  background: c.$bg-tertiary;
}

.button__clear {
  @include app-button;
  background: c.$bg-danger;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.3rem;
}

.button__null {
  width: 6.6rem;
  grid-column: 1/3;
}

.button_pressed {
  @include button-pressed;
}