$bg-light: #f5f5f5;
$bg-dark: #222;
$bg-primary: #7c7c7c;
$bg-secondary: #636363;
$bg-tertiary: #ff9f09;
$bg-shadow: #00000029;

$border-dark: #333;
$border-light: #ccc;

$text-dark: #333;
$text-light: #fff;